<mat-card class="title-block">
  <div class="row">
    <div class="col-md-12 title-main">
      <p>Tìm kiếm</p>
    </div>
  </div>
</mat-card>

<!-- select-top -->
<mat-card class="system-custom">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm">
      </mat-form-field>
    </div>
  </div>
</mat-card>
<!--  end select-top -->

<!-- button crud -->
<mat-card class="button-system-custom title-header-crud">
  <div class="row">
    <div class="col-md-12 mb-3">
      <button class="btn button-add" (click)="onInsertData()">
        <i class="fa fa-fw" aria-hidden="true" title="Thêm mới"></i>
        <span>Thêm mới</span>
      </button>
      <div class="clear"></div>
    </div>
  </div>
</mat-card>
<!-- end button crud-->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- idemployee Column -->
    <ng-container matColumnDef="idemployee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên nhân viên </th>
      <td mat-cell *matCellDef="let element"> {{getNameEmployeesById(element.idemployee)}} </td>
    </ng-container>

    <!-- datestart Column -->
    <ng-container matColumnDef="datestart">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày bắt đầu nghỉ </th>
      <td mat-cell *matCellDef="let element"> {{element.datestart | date:'dd-MM-yyyy'}} </td>
    </ng-container>

    <!-- dateend Column -->
    <ng-container matColumnDef="dateend">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày kết thúc nghỉ </th>
      <td mat-cell *matCellDef="let element"> {{element.dateend | date : 'dd-MM-yyyy'}} </td>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </th>
      <td mat-cell *matCellDef="let element"> {{getStatus(element.status)}} </td>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lý do nghỉ </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (dblclick)="onUpdateData(row)" class="example-element-row"
      *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 40]" showFirstLastButtons></mat-paginator>
</div>